
* {
    box-sizing: border-box;
}
body{
    margin-top:0;
    margin-bottom:2em;
    line-height:1;
}


.container{
    margin-left:20px;
}
.contact{
text-align:center
}
h3{
    background-color: lightgray;;
}
.interest{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
li,p{
    font-weight: bold;;
}
